<!-- 首页开始 -->

<div class="list hot">

    <div class="load-mask" ng-show="loading"></div>
    <div class="spinner" ng-show="loading"></div>
    <ul>
        <h2>热门电影<span>&nbsp;&nbsp;<a href="#/in_theaters">更多>></a></span></h2>
        <li ng-repeat="item in data_hot.subjects">
            <a href="#/details/{{item.id}}">
                <img ng-src={{item.images.large}} alt="">
            </a>
            <div class="meta">
                <h4><span>{{item.title}}</span> <em>{{item.rating.average}}</em></h4>
                <div class="otherinfo">类型:<span>{{item.genres.join(" ")}}</span></div>
            </div>
        </li>
    </ul>
</div>

<div class="list new">

    <ul>
        <h2>最新电影<span>&nbsp;&nbsp;<a href="#/coming_soon">更多>></a></span></h2>
        <li ng-repeat="item in data_new.subjects">
            <a href="#/details/{{item.id}}">
                <img ng-src={{item.images.large}} alt="">
            </a>
            <div class="meta">
                <h4><span>{{item.title}}</span> <em>{{item.rating.average}}</em></h4>
                <div class="otherinfo">类型:<span>{{item.genres.join(" ")}}</span></div>
            </div>
        </li>
    </ul>
</div>
<!-- 首页结束 -->